.header {
        padding: 20px;
        text-align: center;
        background: #1abc9c;
        color: white;
        font-size: 30px;
        background-size: auto;
    }
  
.header_content {
    padding: 10px;
    font-size: 15px;
    text-align: right;
    background: #1abc9c;
    color: white;
    font-size: 15px;
    background-size: auto;
  } 

.app {
    text-align: center;
  }
  
